n8n/workflows/import-google-vision-ocr-benchmark.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5ef6666f-0151-4c7f-bf14-ed7c96c3350a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -27408,
        13840
      ],
      "webhookId": "kedy-import-ocr"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batchId",
              "name": "batchId",
              "value": "={{ $json.body.batchId || $json.batchId }}",
              "type": "string"
            },
            {
              "id": "sourceFileId",
              "name": "sourceFileId",
              "value": "={{ Number($json.body.sourceFileId || $json.sourceFileId || 0) }}",
              "type": "number"
            },
            {
              "id": "fileUrl",
              "name": "fileUrl",
              "value": "={{ $json.body.fileUrl || $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "objectKey",
              "name": "objectKey",
              "value": "={{ $json.body.objectKey || $json.objectKey || \"\" }}",
              "type": "string"
            },
            {
              "id": "sourceType",
              "name": "sourceType",
              "value": "={{ $json.body.sourceType || $json.sourceType || \"\" }}",
              "type": "string"
            },
            {
              "id": "mode",
              "name": "mode",
              "value": "={{ $json.body.mode || $json.mode || \"BENCHMARK\" }}",
              "type": "string"
            },
            {
              "id": "aiConfig",
              "name": "aiConfig",
              "value": "={{ $json.body.aiConfig || $json.aiConfig || {} }}",
              "type": "object"
            },
            {
              "id": "benchmarkReferenceText",
              "name": "benchmarkReferenceText",
              "value": "={{ \"15.11.2025 /n cumartesi /n 10:00 Sinem Kalıcı Oje (539-363-94-76) /n 11:30 Songül Hanım Lazer TV (Kaş-) /n 12:00 Nihal Ezgi Arslan Jel Güçlendirme (05380558462) /n 14:00 Neslihan Hanım Pedikür (5312683382) /n 15:00 Gülşah Hanım TV Lazer 16:00 Aydan Pedikür - Manikür - Ağda 16:00 Demet Hanım TV Lazer (hatırlat) /n 18:30 Sümeyye Hanım TV Lazer + Kaş\" }}",
              "type": "string"
            },
            {
              "id": "phase",
              "name": "phase",
              "value": "={{ ($json.body.phase || $json.phase || $json.body.aiConfig?.benchmark?.phase || $json.aiConfig?.benchmark?.phase || \"PHASE1\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "190e8cdb-55ac-40fd-96f8-36f7da90b720",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -27216,
        13840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { requests: [ { image: { source: { imageUri: $json.fileUrl } }, features: [ { type: \"DOCUMENT_TEXT_DETECTION\" } ] } ] } }}",
        "options": {}
      },
      "id": "c7e147ac-68b9-4574-97f0-17d32d5fddf2",
      "name": "Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -26992,
        13840
      ],
      "credentials": {
        "googleApi": {
          "id": "Lq2VAAoQdGOgiMaf",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ocrResponse = $input.first().json;\nlet extractedText = \"\";\nlet error = null;\ntry {\n  const apiError = ocrResponse.responses?.[0]?.error;\n  if (apiError) {\n    error = apiError.message || \"vision_api_error\";\n  } else {\n    extractedText = (ocrResponse.responses?.[0]?.fullTextAnnotation?.text || ocrResponse.responses?.[0]?.textAnnotations?.[0]?.description || \"\").trim();\n    if (!extractedText) error = \"ocr_empty_text\";\n  }\n} catch (e) {\n  error = e?.message || \"ocr_parse_exception\";\n}\nconst prep = $(\"Prepare Input\").first().json;\nreturn [{ json: { batchId: prep.batchId, sourceFileId: prep.sourceFileId, fileUrl: prep.fileUrl, objectKey: prep.objectKey || null, sourceType: prep.sourceType || null, mode: prep.mode || \"BENCHMARK\", aiConfig: prep.aiConfig || {}, benchmarkReferenceText: prep.benchmarkReferenceText || \"\", text: extractedText, error } }];"
      },
      "id": "fe876e5c-37be-48e8-a8a1-5193b1abcdb1",
      "name": "Extract OCR Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26768,
        13840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-ocr-error-condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98b070df-b885-49a5-987e-8d6d098581ce",
      "name": "Has OCR Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -26560,
        13840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batchId",
              "name": "batchId",
              "value": "={{ $json.batchId }}",
              "type": "string"
            },
            {
              "id": "sourceFileId",
              "name": "sourceFileId",
              "value": "={{ $json.sourceFileId }}",
              "type": "number"
            },
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "aiConfig",
              "name": "aiConfig",
              "value": "={{ $json.aiConfig || {} }}",
              "type": "object"
            },
            {
              "id": "benchmarkReferenceText",
              "name": "benchmarkReferenceText",
              "value": "={{ $json.benchmarkReferenceText || \"\" }}",
              "type": "string"
            },
            {
              "id": "promptLibrary",
              "name": "promptLibrary",
              "value": "={{ {\"pipe-v5a\":\"Rol: Dengeli normalize edici. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Hizmet map: TV/tv/tv lazer/tv lace/tv lover=>Tum Vucut Lazer; kas/kos/kas-=>Kas Alimi; kal je/kalici oje=>Kalici Oje; jel guclendirme=>Jel Guclendirme; pedikur=>Pedikur; manikur=>Manikur; agda=>Agda. Telefonu customerPhoneRaw=null yap. Kanit yoksa null.\",\"pipe-v5b\":\"Rol: Coklu hizmet ayristirici (strictness: BALANCED). Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. +,-,/,, ayiricilarini coklu hizmet sinyali kabul et; serviceNameRaw icinde virgul ile birlestir. Hizmet map ayni. Telefonu ignore et.\",\"pipe-v5c\":\"Rol: Sema disiplinli (strictness: STRICT). Sadece su alanlar: rowIndex, customerName, customerPhoneRaw, appointmentDate, startTime, endTime, durationMinutes, serviceNameRaw, staffNameRaw, priceRaw, notesRaw, confidence. JSON disinda metin yazma.\",\"pipe-v5d\":\"Rol: Saat-ankorlu eslestirici. Once saat ve tarih yakala, sonra isim/hizmet ata. Uydurma satir ekleme. Telefonu ignore et. JSON disinda metin yazma.\",\"pipe-v5e\":\"Rol: Not-ayristirma odakli. Operasyon notlarini sadece notesRaw alanina tasi, hizmet alanina not sızdırma. Uydurma yasak. JSON disinda metin yazma.\"} }}",
              "type": "object"
            },
            {
              "id": "phase",
              "name": "phase",
              "value": "={{ ($json.phase || $json.aiConfig?.benchmark?.phase || \"PHASE1\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e439dfba-5bac-4ce3-ad89-1fec1fe242df",
      "name": "Benchmark Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -26560,
        13312
      ]
    },
    {
      "parameters": {
        "jsCode": "const promptLibrary = {\n  \"pipe-v5a\": { \"label\": \"Dengeleyici / Esnek\", \"legacyNodeSuffix\": \"Hizmet Agirlikli Dengeli\", \"legacyIndex\": 0 },\n  \"pipe-v5b\": { \"label\": \"Coklu Hizmet Ayirici\", \"legacyNodeSuffix\": \"Hizmet Agirlikli Coklu Hizmet Sert\", \"legacyIndex\": 1 },\n  \"pipe-v5c\": { \"label\": \"Sema Disiplinli\", \"legacyNodeSuffix\": \"Hizmet Agirlikli Sema Disiplinli\", \"legacyIndex\": 2 },\n  \"pipe-v5d\": { \"label\": \"Saat/Isim Anchored\", \"legacyNodeSuffix\": null, \"legacyIndex\": null },\n  \"pipe-v5e\": { \"label\": \"Not Ayrimi Sert\", \"legacyNodeSuffix\": null, \"legacyIndex\": null }\n};\nconst modelMatrix = [\n  { \"name\": \"MiniMax M2.7\", \"model\": \"minimax/minimax-m2.7\", \"startIndex\": 1 },\n  { \"name\": \"Grok 4.1 Fast\", \"model\": \"x-ai/grok-4.1-fast\", \"startIndex\": 4 },\n  { \"name\": \"GPT-4o Mini\", \"model\": \"openai/gpt-4o-mini\", \"startIndex\": 7 },\n  { \"name\": \"Gemini 2.5 Flash Lite\", \"model\": \"google/gemini-2.5-flash-lite\", \"startIndex\": 10 },\n  { \"name\": \"Gemini 3.0 Flash\", \"model\": \"google/gemini-3.0-flash\", \"startIndex\": 13 },\n  { \"name\": \"Gemini 3.0 Flash Lite Preview\", \"model\": \"google/gemini-3.0-flash-lite-preview\", \"startIndex\": 16 },\n  { \"name\": \"Gemini 2.5 Flash\", \"model\": \"google/gemini-2.5-flash\", \"startIndex\": 19 }\n];\nconst phaseConfig = {\n  PHASE1: {\n    promptVersions: [\"pipe-v5a\", \"pipe-v5b\", \"pipe-v5c\", \"pipe-v5d\", \"pipe-v5e\"],\n    strictnesses: [\"OFF\"],\n    temperatures: [0]\n  },\n  PHASE2: {\n    promptVersions: null,\n    strictnesses: [\"BALANCED\", \"STRICT\"],\n    temperatures: [0]\n  },\n  PHASE3: {\n    promptVersions: null,\n    strictnesses: null,\n    temperatures: [0, 0.2, 0.4]\n  }\n};\n\nconst source = $(\"Extract OCR Text\").first().json;\nconst sourceConfig = source.aiConfig || {};\nconst benchmarkCfg = sourceConfig.benchmark || {};\nconst phaseRaw = String(source.phase || benchmarkCfg.phase || sourceConfig.phase || \"PHASE1\").toUpperCase();\nconst phase = phaseConfig[phaseRaw] ? phaseRaw : \"PHASE1\";\n\nfunction trimText(v) { return typeof v === \"string\" ? v.trim() : \"\"; }\nfunction nullable(v) { const x = trimText(v); return !x || x.toLowerCase() === \"null\" ? null : x; }\nfunction normalizeTime(v) {\n  const x = trimText(v);\n  if (!x || x.toLowerCase() === \"null\") return null;\n  let m = x.match(/^(\\d{1,2})[:.](\\d{2})$/);\n  if (m) {\n    const hour = Number(m[1]);\n    const minute = Number(m[2]);\n    if (hour >= 0 && hour <= 23 && minute >= 0 && minute <= 59) return String(hour).padStart(2, \"0\") + \":\" + String(minute).padStart(2, \"0\");\n  }\n  m = x.match(/^(\\d{2})(\\d{2})$/);\n  if (m) {\n    const hour = Number(m[1]);\n    const minute = Number(m[2]);\n    if (hour >= 0 && hour <= 23 && minute >= 0 && minute <= 59) return String(hour).padStart(2, \"0\") + \":\" + String(minute).padStart(2, \"0\");\n  }\n  return null;\n}\nfunction normalizeDate(v) {\n  const x = trimText(v);\n  if (!x || x.toLowerCase() === \"null\") return null;\n  let m = x.match(/^(\\d{1,2})[./-](\\d{1,2})[./-](\\d{2,4})$/);\n  if (m) {\n    let year = Number(m[3]);\n    if (year < 100) year += 2000;\n    return String(Number(m[1])).padStart(2, \"0\") + \".\" + String(Number(m[2])).padStart(2, \"0\") + \".\" + String(year).padStart(4, \"0\");\n  }\n  if (/^(\\d{4})-(\\d{2})-(\\d{2})$/.test(x)) return x;\n  return null;\n}\nfunction normalizeNumber(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  const n = Number(String(v).replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\nfunction unwrapJson(raw) {\n  const text = trimText(raw);\n  if (!text) throw new Error(\"llm_empty_output\");\n  try { return JSON.parse(text); } catch (error) {}\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) return JSON.parse(fenced[1].trim());\n  const start = text.indexOf(\"{\");\n  const end = text.lastIndexOf(\"}\");\n  if (start !== -1 && end > start) return JSON.parse(text.slice(start, end + 1));\n  throw new Error(\"llm_invalid_json\");\n}\nfunction normalizeRows(payload) {\n  const rows = Array.isArray(payload) ? payload : (Array.isArray(payload?.rows) ? payload.rows : []);\n  return rows.map((row, index) => ({\n    rowIndex: Number(row?.rowIndex) > 0 ? Number(row.rowIndex) : index + 1,\n    customerName: nullable(row?.customerName || row?.name || row?.customer || row?.customerNameRaw || row?.clientName || row?.client),\n    customerPhoneRaw: nullable(row?.customerPhoneRaw || row?.phoneRaw || row?.phone),\n    appointmentDate: normalizeDate(row?.appointmentDate || row?.date || row?.appointment_date),\n    startTime: normalizeTime(row?.startTime || row?.time || row?.hour || row?.start),\n    endTime: normalizeTime(row?.endTime || row?.end || row?.finishTime),\n    durationMinutes: normalizeNumber(row?.durationMinutes),\n    serviceNameRaw: nullable(row?.serviceNameRaw || row?.servicesNormalized || row?.service || row?.serviceRaw || row?.services || row?.serviceName),\n    staffNameRaw: nullable(row?.staffNameRaw || row?.staff),\n    priceRaw: normalizeNumber(row?.priceRaw),\n    notesRaw: nullable(row?.notesRaw || row?.note || row?.notes),\n    confidence: (() => {\n      const value = Number(row?.confidence);\n      if (!Number.isFinite(value)) return 0.5;\n      return Math.max(0, Math.min(1, value));\n    })(),\n  })).filter((row) => row.appointmentDate || row.startTime || row.customerName || row.serviceNameRaw || row.notesRaw);\n}\n\nconst finalistPrompts = Array.isArray(benchmarkCfg.finalistPromptVersions) && benchmarkCfg.finalistPromptVersions.length\n  ? benchmarkCfg.finalistPromptVersions\n  : (Array.isArray(benchmarkCfg.promptVersions) && benchmarkCfg.promptVersions.length ? benchmarkCfg.promptVersions : null);\nconst finalistStrictnesses = Array.isArray(benchmarkCfg.strictnesses) && benchmarkCfg.strictnesses.length ? benchmarkCfg.strictnesses : null;\nconst finalistTemperatures = Array.isArray(benchmarkCfg.temperatures) && benchmarkCfg.temperatures.length ? benchmarkCfg.temperatures : null;\n\nconst promptVersions = (phaseConfig[phase].promptVersions || finalistPrompts || [\"pipe-v5a\", \"pipe-v5b\"]).filter((v) => promptLibrary[v]);\nconst strictnesses = (phaseConfig[phase].strictnesses || finalistStrictnesses || [\"BALANCED\"]).map((v) => String(v).toUpperCase());\nconst temperatures = (phaseConfig[phase].temperatures || finalistTemperatures || [0]).map((v) => Number(v)).filter((v) => Number.isFinite(v));\n\nconst candidates = [];\nlet missingNodeCount = 0;\nfor (const modelEntry of modelMatrix) {\n  for (const promptVersion of promptVersions) {\n    const promptMeta = promptLibrary[promptVersion] || {};\n    for (const strictness of strictnesses) {\n      for (const temperature of temperatures) {\n        const canReadLegacy = Number(promptMeta.legacyIndex) >= 0 && temperature === 0 && (phase === \"PHASE1\" || strictness === \"OFF\" || strictness === \"BALANCED\");\n        let rawOutputText = \"\";\n        let parsedRows = [];\n        if (canReadLegacy) {\n          const chainNumber = modelEntry.startIndex + Number(promptMeta.legacyIndex);\n          const nodeName = \"Chain \" + chainNumber + \" - \" + modelEntry.name + \" / \" + promptMeta.legacyNodeSuffix;\n          try {\n            const nodeJson = $item(0).$node[nodeName].json || {};\n            rawOutputText = trimText(nodeJson.text || \"\");\n            parsedRows = normalizeRows(unwrapJson(rawOutputText));\n          } catch (error) {\n            missingNodeCount += 1;\n            rawOutputText = \"ERROR: \" + (error?.message || \"candidate_read_failed\");\n            parsedRows = [];\n          }\n        } else {\n          missingNodeCount += 1;\n          rawOutputText = \"SKIPPED: workflow chain not configured for this phase/prompt/temp/strictness combo\";\n          parsedRows = [];\n        }\n        candidates.push({\n          provider: \"openrouter\",\n          model: modelEntry.model,\n          promptVersion,\n          promptLabel: promptMeta.label || promptVersion,\n          phase,\n          strictness,\n          temperature,\n          rawOutputText,\n          parsedRows\n        });\n      }\n    }\n  }\n}\n\nconst successCount = candidates.filter((candidate) => Array.isArray(candidate.parsedRows) && candidate.parsedRows.length > 0).length;\nreturn [{\n  json: {\n    batchId: source.batchId,\n    sourceFileId: source.sourceFileId,\n    mode: \"BENCHMARK\",\n    phase,\n    strictness: strictnesses.length === 1 ? strictnesses[0] : null,\n    temperature: temperatures.length === 1 ? temperatures[0] : null,\n    candidates,\n    audit: {\n      ocrProvider: \"google-vision\",\n      ocrModel: \"DOCUMENT_TEXT_DETECTION\",\n      ocrRawText: source.text || \"\",\n      activeConfigSnapshot: source.aiConfig || {},\n      benchmarkReferenceText: source.benchmarkReferenceText || \"\",\n      metrics: {\n        benchmarkReferenceText: source.benchmarkReferenceText || \"\",\n        phase,\n        candidateCount: candidates.length,\n        modelCount: modelMatrix.length,\n        promptCount: promptVersions.length,\n        strictnessCount: strictnesses.length,\n        temperatureCount: temperatures.length,\n        successCount,\n        failureCount: candidates.length - successCount,\n        expectedCandidateCount: modelMatrix.length * promptVersions.length * strictnesses.length * temperatures.length,\n        missingNodeCount\n      }\n    }\n  }\n}];"
      },
      "id": "23a5da17-d7cc-4cb2-869b-24665f3c67a2",
      "name": "Build Benchmark Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25376,
        13920
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"received\": true } }}",
        "options": {}
      },
      "id": "41c0dba0-6fbb-4dd1-967a-3d8c822f0ba9",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -24912,
        13840
      ]
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.7",
        "options": {
          "temperature": 0
        }
      },
      "id": "3b51b91d-edea-4079-b419-33bf184ab5f0",
      "name": "Model - MiniMax M2.7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        12832
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {
          "temperature": 0
        }
      },
      "id": "662da392-31d1-4de1-9716-3f971a13a5b9",
      "name": "Model - Grok 4.1 Fast",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        13264
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "id": "60bbe8db-2428-4e26-a56d-9ba35a85f19a",
      "name": "Model - GPT-4o Mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        13680
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0
        }
      },
      "id": "6f47e7ea-9be3-46bf-a7ec-c8e6a2de58bf",
      "name": "Model - Gemini 2.5 Flash Lite",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        14096
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {
          "temperature": 0
        }
      },
      "id": "c267d4ea-329c-4350-9338-07efaeb322fc",
      "name": "Model - Gemini 3.0 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        14512
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0
        }
      },
      "id": "7d06acd0-990a-44a7-924e-76ab48009716",
      "name": "Model - Gemini 3.0 Flash Lite Preview",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        14944
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "id": "63785f68-dd50-404a-985e-0f7bfe6a6e46",
      "name": "Model - Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -26352,
        15360
      ],
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "f8352ed8-522d-4017-a2c6-8a2f0b687ba6",
      "name": "Merge - MiniMax M2.7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        13200
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "6948cb3f-c6a7-45a8-a66d-03db67e4ace7",
      "name": "Merge - Grok 4.1 Fast",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        13616
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "01d9df6d-803e-47b7-a0c8-50c9a60b11eb",
      "name": "Merge - GPT-4o Mini",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        14032
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "89b2f9e6-0bc4-49be-8975-a694e3ff5d6a",
      "name": "Merge - Gemini 2.5 Flash Lite",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        14464
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "acc10fb6-fd9a-4a66-b39b-8a2f359e5d0d",
      "name": "Merge - Gemini 3.0 Flash",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        14880
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "b03c7a06-7322-48ad-b286-48f6765ad712",
      "name": "Merge - Gemini 3.0 Flash Lite Preview",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        15296
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "abfb003a-3478-4e61-969a-254fe4ebe376",
      "name": "Merge - Gemini 2.5 Flash",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25872,
        15712
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "34da47e1-d8ce-4afe-8bc7-ae5f6d23421a",
      "name": "Chain 1 - MiniMax M2.7 / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        12992
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "51c78197-78ca-40f7-b56f-c933e99cf45e",
      "name": "Chain 2 - MiniMax M2.7 / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "b8c04096-0fe0-4ed3-b4d2-1f9cd5f4dace",
      "name": "Chain 3 - MiniMax M2.7 / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13152
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "cf681985-38af-4bcd-a610-49bd492caf33",
      "name": "Chain 4 - Grok 4.1 Fast / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13424
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "dfb0311b-f871-41d1-b706-48fd0a358027",
      "name": "Chain 5 - Grok 4.1 Fast / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13504
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "fc93492b-6873-42cc-bdfb-449263498760",
      "name": "Chain 6 - Grok 4.1 Fast / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13584
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "aeff88de-7e3e-45e8-898b-22de0670407c",
      "name": "Chain 7 - GPT-4o Mini / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13840
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "c4390a55-5c04-4978-9d64-877955796268",
      "name": "Chain 8 - GPT-4o Mini / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        13920
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "19ca28c6-34c2-4e1c-868f-367b299cd2e1",
      "name": "Chain 9 - GPT-4o Mini / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14000
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "3a661c93-66b0-49fd-8bee-d80753dfd8a1",
      "name": "Chain 10 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "37a6d47a-9d2a-4009-98a5-4c710a204cd2",
      "name": "Chain 11 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "ac05d03d-5239-4505-9890-574d6f6ff6bb",
      "name": "Chain 12 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14416
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "0ad00799-755c-4d15-bd9d-b4481596843d",
      "name": "Chain 13 - Gemini 3.0 Flash / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14672
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "ac49891f-ce88-41ec-b128-3ff74afdeddc",
      "name": "Chain 14 - Gemini 3.0 Flash / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14752
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "88a7a6d4-9998-4e27-afb1-29284478530a",
      "name": "Chain 15 - Gemini 3.0 Flash / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        14832
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "4f67592b-4f93-44f7-817d-bac2c66db780",
      "name": "Chain 16 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        15104
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "a4bfeb84-f73e-4359-86c0-a31af516f1dd",
      "name": "Chain 17 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        15184
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "26613b14-ce91-44dd-9d70-82af9a148fe5",
      "name": "Chain 18 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        15264
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5a\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "e0621e51-d6c3-4ab1-a473-8b988531b489",
      "name": "Chain 19 - Gemini 2.5 Flash / Hizmet Agirlikli Dengeli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        15520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5b\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "54a590e7-8927-46dd-bc2b-b7f53617706b",
      "name": "Chain 20 - Gemini 2.5 Flash / Hizmet Agirlikli Coklu Hizmet Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        15600
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5c\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "c97a3047-6bf9-443d-8cb5-530358b9b536",
      "name": "Chain 21 - Gemini 2.5 Flash / Hizmet Agirlikli Sema Disiplinli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -26352,
        15680
      ]
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "f7c77d5a-51e6-4fee-bafb-2df8785c5f76",
      "name": "Merge All Benchmarks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -25632,
        13920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://app.berkai.shop/api/internal/imports/' + $json.batchId + '/ocr-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "4c4ec9dd02994c9fa27b2b316631f22fd1f04455a54351b8575a60d6a99756fd"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { mode: $json.mode || \"BENCHMARK\", phase: $json.phase || null, strictness: $json.strictness || null, temperature: $json.temperature ?? null, sourceFileId: $json.sourceFileId, benchmarkReferenceText: $json.audit?.benchmarkReferenceText || $json.benchmarkReferenceText || \"\", candidates: $json.candidates || [], audit: $json.audit || null } }}",
        "options": {}
      },
      "id": "27d79e64-1cb8-418a-be90-f0ae85aabd38",
      "name": "Callback Success1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -25136,
        13840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://app.berkai.shop/api/internal/imports/' + $json.batchId + '/ocr-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "4c4ec9dd02994c9fa27b2b316631f22fd1f04455a54351b8575a60d6a99756fd"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { mode: $json.mode || \"BENCHMARK\", phase: $json.phase || null, strictness: $json.strictness || null, temperature: $json.temperature ?? null, sourceFileId: $json.sourceFileId, benchmarkReferenceText: $json.benchmarkReferenceText || $json.audit?.benchmarkReferenceText || \"\", error: $json.error, audit: { ocrProvider: \"google-vision\", ocrModel: \"DOCUMENT_TEXT_DETECTION\", ocrRawText: $json.text || \"\", activeConfigSnapshot: $json.aiConfig || {}, benchmarkReferenceText: $json.benchmarkReferenceText || \"\", metrics: { benchmarkReferenceText: $json.benchmarkReferenceText || \"\", phase: $json.phase || null, strictness: $json.strictness || null, temperature: $json.temperature ?? null, candidateCount: 0, modelCount: 0, promptCount: 0, successCount: 0, failureCount: 0 } } } }}",
        "options": {}
      },
      "id": "b71479fd-2247-418a-b374-1e0161bc6dc6",
      "name": "Callback Error1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26288,
        14032
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision OCR": {
      "main": [
        [
          {
            "node": "Extract OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR Text": {
      "main": [
        [
          {
            "node": "Has OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has OCR Error?": {
      "main": [
        [
          {
            "node": "Callback Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Benchmark Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benchmark Source": {
      "main": [
        [
          {
            "node": "Chain 1 - MiniMax M2.7 / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 2 - MiniMax M2.7 / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 3 - MiniMax M2.7 / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 4 - Grok 4.1 Fast / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 5 - Grok 4.1 Fast / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 6 - Grok 4.1 Fast / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 7 - GPT-4o Mini / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 8 - GPT-4o Mini / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 9 - GPT-4o Mini / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 10 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 11 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 12 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 13 - Gemini 3.0 Flash / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 14 - Gemini 3.0 Flash / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 15 - Gemini 3.0 Flash / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 16 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 17 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 18 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 19 - Gemini 2.5 Flash / Hizmet Agirlikli Dengeli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 20 - Gemini 2.5 Flash / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 21 - Gemini 2.5 Flash / Hizmet Agirlikli Sema Disiplinli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Benchmark Payload": {
      "main": [
        [
          {
            "node": "Callback Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model - MiniMax M2.7": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 1 - MiniMax M2.7 / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 2 - MiniMax M2.7 / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 3 - MiniMax M2.7 / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Grok 4.1 Fast": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 4 - Grok 4.1 Fast / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 5 - Grok 4.1 Fast / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 6 - Grok 4.1 Fast / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - GPT-4o Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 7 - GPT-4o Mini / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 8 - GPT-4o Mini / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 9 - GPT-4o Mini / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 10 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 11 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 12 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Gemini 3.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 13 - Gemini 3.0 Flash / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 14 - Gemini 3.0 Flash / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 15 - Gemini 3.0 Flash / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Gemini 3.0 Flash Lite Preview": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 16 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 17 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 18 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 19 - Gemini 2.5 Flash / Hizmet Agirlikli Dengeli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 20 - Gemini 2.5 Flash / Hizmet Agirlikli Coklu Hizmet Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 21 - Gemini 2.5 Flash / Hizmet Agirlikli Sema Disiplinli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge - MiniMax M2.7": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Grok 4.1 Fast": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - GPT-4o Mini": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge - Gemini 2.5 Flash Lite": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge - Gemini 3.0 Flash": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge - Gemini 3.0 Flash Lite Preview": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge - Gemini 2.5 Flash": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Chain 1 - MiniMax M2.7 / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 2 - MiniMax M2.7 / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 3 - MiniMax M2.7 / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 4 - Grok 4.1 Fast / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 5 - Grok 4.1 Fast / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 6 - Grok 4.1 Fast / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 7 - GPT-4o Mini / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - GPT-4o Mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 8 - GPT-4o Mini / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - GPT-4o Mini",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 9 - GPT-4o Mini / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - GPT-4o Mini",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 10 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 11 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 12 - Gemini 2.5 Flash Lite / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 13 - Gemini 3.0 Flash / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 3.0 Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 14 - Gemini 3.0 Flash / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - Gemini 3.0 Flash",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 15 - Gemini 3.0 Flash / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 3.0 Flash",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 16 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 3.0 Flash Lite Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 17 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - Gemini 3.0 Flash Lite Preview",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 18 - Gemini 3.0 Flash Lite Preview / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 3.0 Flash Lite Preview",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 19 - Gemini 2.5 Flash / Hizmet Agirlikli Dengeli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 20 - Gemini 2.5 Flash / Hizmet Agirlikli Coklu Hizmet Sert": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 21 - Gemini 2.5 Flash / Hizmet Agirlikli Sema Disiplinli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Benchmarks": {
      "main": [
        [
          {
            "node": "Build Benchmark Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success1": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Error1": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Trigger": [
      {
        "headers": {
          "host": "n8n.berkai.shop",
          "user-agent": "node",
          "content-length": "666",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "10.0.1.1",
          "x-forwarded-host": "n8n.berkai.shop",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "fb1aeec3f90d",
          "x-internal-api-key": "ae989558d5b97940b643e514ebc885d2656e7a8000efa5f499ce1e36c9a1182a",
          "x-real-ip": "10.0.1.1"
        },
        "params": {},
        "query": {},
        "body": {
          "batchId": "cmnqnrlkx000bpf0j7h8av3wr",
          "sourceFileId": 39,
          "fileUrl": "https://cdn.kedyapp.com/imports/2/cmnqnrlkx000bpf0j7h8av3wr/2026-04-08T23-09-15-386Z-whatsapp-image-2026-04-06-at-01.07.52---kopya-5-.jpeg",
          "objectKey": "imports/2/cmnqnrlkx000bpf0j7h8av3wr/2026-04-08T23-09-15-386Z-whatsapp-image-2026-04-06-at-01.07.52---kopya-5-.jpeg",
          "sourceType": "IMAGE",
          "mode": "PRODUCTION",
          "benchmarkReferenceText": null,
          "aiConfig": {
            "id": null,
            "ocrProvider": "google-vision",
            "ocrModel": "DOCUMENT_TEXT_DETECTION",
            "llmProvider": "openrouter",
            "llmModel": "openai/gpt-4o-mini",
            "promptVersion": "prod-v1",
            "promptLabel": "Production Prompt",
            "outputContractVersion": "rows-v1",
            "notesJson": {}
          }
        },
        "webhookUrl": "https://n8n.berkai.shop/webhook/import-ocr",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afd9177fa22bd401d1ec287c9dde7939ce50fb767c8e226f6de704d0a8fffb41"
  }
}