n8n/workflows/import-google-vision-ocr.json
{
  "name": "Kedy Import OCR (Google Vision)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        -120
      ],
      "webhookId": "kedy-import-ocr"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"received\": true } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        -120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batchId",
              "name": "batchId",
              "value": "={{ $json.body.batchId || $json.batchId }}",
              "type": "string"
            },
            {
              "id": "sourceFileId",
              "name": "sourceFileId",
              "value": "={{ Number($json.body.sourceFileId || $json.sourceFileId || 0) }}",
              "type": "number"
            },
            {
              "id": "fileUrl",
              "name": "fileUrl",
              "value": "={{ $json.body.fileUrl || $json.fileUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fileUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "fileData"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $item(0).$node[\"Prepare Input\"].json;\nconst item = $input.first();\nconst b64 = item.binary?.fileData?.data;\nif (!b64) {\n  return [{ json: { batchId: prep.batchId, sourceFileId: prep.sourceFileId, error: 'file_binary_missing', rows: [] } }];\n}\nreturn [{ json: { batchId: prep.batchId, sourceFileId: prep.sourceFileId, base64Content: b64 } }];"
      },
      "id": "build-vision-payload",
      "name": "Build Vision Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { requests: [ { image: { content: $json.base64Content }, features: [ { type: 'DOCUMENT_TEXT_DETECTION' } ] } ] } }}",
        "options": {}
      },
      "id": "vision-ocr",
      "name": "Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -300,
        -120
      ],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $item(0).$node[\"Prepare Input\"].json;\nconst response = $input.first().json;\n\nlet error = null;\nlet rows = [];\n\ntry {\n  const apiError = response.responses?.[0]?.error;\n  if (apiError) {\n    error = apiError.message || 'vision_api_error';\n  } else {\n    const text = (response.responses?.[0]?.fullTextAnnotation?.text || '').trim();\n    if (!text) {\n      error = 'ocr_empty_text';\n    } else {\n      const lines = text.split('\\n').map((l) => l.trim()).filter(Boolean);\n      rows = lines.map((line, index) => ({\n        rowIndex: index + 1,\n        notesRaw: line,\n        confidence: 0.5\n      }));\n    }\n  }\n} catch (e) {\n  error = e.message || 'ocr_parse_exception';\n}\n\nreturn [{ json: { batchId: prep.batchId, sourceFileId: prep.sourceFileId, rows, error } }];"
      },
      "id": "normalize-rows",
      "name": "Normalize Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-error-condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        100,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BACKEND_BASE_URL || 'https://app.berkai.shop') + '/api/internal/imports/' + $json.batchId + '/ocr-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { sourceFileId: $json.sourceFileId, rows: $json.rows } }}",
        "options": {}
      },
      "id": "callback-success",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BACKEND_BASE_URL || 'https://app.berkai.shop') + '/api/internal/imports/' + $json.batchId + '/ocr-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { sourceFileId: $json.sourceFileId, error: $json.error } }}",
        "options": {}
      },
      "id": "callback-error",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Build Vision Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vision Payload": {
      "main": [
        [
          {
            "node": "Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision OCR": {
      "main": [
        [
          {
            "node": "Normalize Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Rows": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Callback Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Error": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
