n8n/workflows/import-google-vision-ocr-benchmark.json
{
  "name": "Kedy Import OCR Benchmark",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1420,
        -120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "import-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "kedy-import-ocr"
    },
    {
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        -120
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batchId",
              "name": "batchId",
              "value": "={{ $json.body.batchId || $json.batchId }}",
              "type": "string"
            },
            {
              "id": "sourceFileId",
              "name": "sourceFileId",
              "value": "={{ Number($json.body.sourceFileId || $json.sourceFileId || 0) }}",
              "type": "number"
            },
            {
              "id": "fileUrl",
              "name": "fileUrl",
              "value": "={{ $json.body.fileUrl || $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "objectKey",
              "name": "objectKey",
              "value": "={{ $json.body.objectKey || $json.objectKey || \"\" }}",
              "type": "string"
            },
            {
              "id": "sourceType",
              "name": "sourceType",
              "value": "={{ $json.body.sourceType || $json.sourceType || \"\" }}",
              "type": "string"
            },
            {
              "id": "mode",
              "name": "mode",
              "value": "={{ $json.body.mode || $json.mode || \"BENCHMARK\" }}",
              "type": "string"
            },
            {
              "id": "aiConfig",
              "name": "aiConfig",
              "value": "={{ $json.body.aiConfig || $json.aiConfig || {} }}",
              "type": "object"
            },
            {
              "id": "benchmarkReferenceText",
              "name": "benchmarkReferenceText",
              "value": "={{ $json.body.benchmarkReferenceText || $json.body.referenceText || $json.body.aiConfig?.benchmarkReferenceText || $json.body.aiConfig?.notesJson?.benchmarkReferenceText || $json.body.aiConfig?.notesJson?.referenceText || $json.benchmarkReferenceText || $json.referenceText || $json.aiConfig?.benchmarkReferenceText || $json.aiConfig?.notesJson?.benchmarkReferenceText || $json.aiConfig?.notesJson?.referenceText || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "vision-ocr",
      "name": "Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1000,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { requests: [ { image: { source: { imageUri: $json.fileUrl } }, features: [ { type: \"DOCUMENT_TEXT_DETECTION\" } ] } ] } }}",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "Lq2VAAoQdGOgiMaf",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "id": "extract-ocr-text",
      "name": "Extract OCR Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        -120
      ],
      "parameters": {
        "jsCode": "const ocrResponse = $input.first().json;\nlet extractedText = \"\";\nlet error = null;\ntry {\n  const apiError = ocrResponse.responses?.[0]?.error;\n  if (apiError) {\n    error = apiError.message || \"vision_api_error\";\n  } else {\n    extractedText = (ocrResponse.responses?.[0]?.fullTextAnnotation?.text || ocrResponse.responses?.[0]?.textAnnotations?.[0]?.description || \"\").trim();\n    if (!extractedText) error = \"ocr_empty_text\";\n  }\n} catch (e) {\n  error = e?.message || \"ocr_parse_exception\";\n}\nconst prep = $(\"Prepare Input\").first().json;\nreturn [{ json: { batchId: prep.batchId, sourceFileId: prep.sourceFileId, fileUrl: prep.fileUrl, objectKey: prep.objectKey || null, sourceType: prep.sourceType || null, mode: prep.mode || \"BENCHMARK\", aiConfig: prep.aiConfig || {}, benchmarkReferenceText: prep.benchmarkReferenceText || \"\", text: extractedText, error } }];"
      }
    },
    {
      "id": "has-ocr-error",
      "name": "Has OCR Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-ocr-error-condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "benchmark-source",
      "name": "Benchmark Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -640
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batchId",
              "name": "batchId",
              "value": "={{ $json.batchId }}",
              "type": "string"
            },
            {
              "id": "sourceFileId",
              "name": "sourceFileId",
              "value": "={{ $json.sourceFileId }}",
              "type": "number"
            },
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "aiConfig",
              "name": "aiConfig",
              "value": "={{ $json.aiConfig || {} }}",
              "type": "object"
            },
            {
              "id": "benchmarkReferenceText",
              "name": "benchmarkReferenceText",
              "value": "={{ $json.benchmarkReferenceText || \"\" }}",
              "type": "string"
            },
            {
              "id": "promptLibrary",
              "name": "promptLibrary",
              "value": "={{ {\"pipe-v1\":\"Sen salon randevu OCR normalizer'ısın. Hedefin yüksek doğruluklu normalizasyon; uydurma yasak. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]} olacak. Telefon numaralarini tamamen ignore et. Hizmet normalizasyonu: TV/tv/tv lazer/tv laser/tv lace/tv lover => Tum Vucut Lazer; kas/kas-/kos => Kas Alimi; kalici oje/kal je => Kalici Oje; jel guclendirme => Jel Guclendirme; pedikur => Pedikur; manikur => Manikur; agda => Agda. Unvanlari (Hanim/Bey/Hnm) customerName icinde koru. Operasyon notlarini (hatirlat, geldi, iptal, odedi, aransin) notesRaw alanina tasi. Emin degilsen null birak.\",\"pipe-v2\":\"Sen kanit esikli bir normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Sadece metinde acik kanit olan alanlari doldur; digerlerini null birak. Telefonlari tumden ignore et. Tarih/saatte zayif kanit varsa zorlamadan null birak. Hizmet adlarini yalnizca guclu eslesmeyle normalize et: TV lazer=>Tum Vucut Lazer, kas/kos=>Kas Alimi, kalici oje=>Kalici Oje, jel guclendirme=>Jel Guclendirme, pedikur=>Pedikur, manikur=>Manikur, agda=>Agda. Notlar service alanina kacmasin; notesRaw'a yaz. JSON disinda hicbir sey yazma.\",\"pipe-v3\":\"Sen once segmentasyon yapan bir normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Adim 1: metinden saatleri cikar ve satirlari saate gore bol. Ayni saatte farkli musteri varsa mutlaka ayri satir uret. Adim 2: her satiri normalize et. Telefonlari ignore et. Saat formatini mumkunse HH:MM yap. Hizmet mapping: TV lazer=>Tum Vucut Lazer; kas/kos=>Kas Alimi; kalici oje=>Kalici Oje; jel guclendirme=>Jel Guclendirme; pedikur=>Pedikur; manikur=>Manikur; agda=>Agda. Notlari notesRaw'a tasi.\",\"pipe-v4\":\"Sen Turkce sadakat odakli OCR normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Turkce karakterleri koru, OCR duzeltmesini sadece yuksek eminlikte yap (orn: E2gi=>Ezgi, harm=>Hanim, kos=>Kas, lace/lover=>Lazer, 16.00/1600=>16:00). Telefonlari ignore et. Unvanlar customerName icinde kalsin. Operasyon notlari notesRaw'a gitsin, serviceNameRaw'a karismasin. Ayni saatte birden fazla musteri varsa ayri satir uret. Uydurma yok; emin degilsen null.\",\"pipe-v5\":\"Sen hizmet normalizasyonunda uzman bir asistansin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Her randevuda serviceNameRaw alanini once dogru normalize et: TV/tv/tv lazer/tv lace/tv lover=>Tum Vucut Lazer; kas/kos/kas-=>Kas Alimi; kal je/kalici oje=>Kalici Oje; jel guclendirme=>Jel Guclendirme; pedikur=>Pedikur; manikur=>Manikur; agda=>Agda. Ayni satirda coklu hizmet varsa serviceNameRaw'da virgul ile birlestir. Telefonlari ignore et. Notlari notesRaw'a tasi. JSON disinda metin yazma.\",\"pipe-v6\":\"Sen not ayristirma odakli normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Hizmet, musteri ve saat bilgisi ile operasyonel notlari kesin olarak ayir. \\\"hatirlat\\\", \\\"geldi\\\", \\\"iptal\\\", \\\"odedi\\\", \\\"aransin\\\" gibi ifadeler notesRaw'a yazilmali; serviceNameRaw veya customerName'a kacmamalidir. Telefonlari tamamen ignore et. Hizmet adlarini normalize et. Belirsiz alanlari null birak. Ayni saatte farkli musteri varsa ayri satir uret.\",\"pipe-v7\":\"Sen cakisma cozucu bir normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Bir satirda birden fazla kisi/hizmet/saat adayi varsa en tutarli ayrimi yap: farkli kisi sinyali varsa satirlari ayir, tek kisi sinyali varsa birlestirme. Telefonlari ignore et. Hizmet mapping kurallarini uygula. Tarih/saat/customer/service arasinda celiski varsa en guclu kanita gore doldur, digerlerini null birak. Operasyonel metni notesRaw'a tasi.\",\"pipe-v8\":\"Sen satir satir rekonstruksiyon yapan bir normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Defter metnini satir mantigiyla yeniden kur: her saat gecisi yeni aday satirdir; saat yoksa bir onceki baglami dikkatle kullan. Ayni saatte farkli musteri adlari varsa ayri satirlar olustur. Telefonlari ignore et. Hizmetleri normalize et. Uydurma yapma; emin degilsen null. Notlari notesRaw'a tasi.\",\"pipe-v9\":\"Sen kalite kapisi olan bir normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Uretmeden once ic denetim uygula: (1) JSON gecerli mi, (2) ayni saatte farkli musteriler ayrildi mi, (3) telefonlar ignore edildi mi, (4) notlar notesRaw'a tasindi mi, (5) hizmetler normalize edildi mi. Bu denetimi ciktiya yazma, sadece duzeltilmis final JSON'u ver. Belirsiz alanlari null birak.\",\"pipe-v10\":\"Sen dusuk halusinasyon modunda calisan normalizersin. Cikti yalnizca JSON ve kokte {\\\"rows\\\":[...]}. Metinde yoksa asla yeni kisi, yeni saat, yeni hizmet uretme. Telefonlari ignore et. Hizmet mappingini uygula fakat yalnizca kanitli eslesmelerde. Ayni saatte iki farkli isim geciyorsa iki satir yaz. Unvanlar customerName icinde kalmali. Operasyonel ifadeler notesRaw'a gitmeli. Cok belirsiz durumda bos satir uretme; null kullan.\"} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "model-minimax",
      "name": "Model - MiniMax M2.7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -360,
        -1120
      ],
      "parameters": {
        "model": "minimax/minimax-m2.7",
        "options": {
          "temperature": 0
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "model-grok",
      "name": "Model - Grok 4.1 Fast",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -360,
        -120
      ],
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {
          "temperature": 0
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "model-geminilite",
      "name": "Model - Gemini 2.5 Flash Lite",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -360,
        880
      ],
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "x4oJ9U04K1AOxKsx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "merge-minimax",
      "name": "Merge - MiniMax M2.7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        120,
        -760
      ],
      "parameters": {
        "numberInputs": 10
      }
    },
    {
      "id": "merge-grok",
      "name": "Merge - Grok 4.1 Fast",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        120,
        240
      ],
      "parameters": {
        "numberInputs": 10
      }
    },
    {
      "id": "merge-geminilite",
      "name": "Merge - Gemini 2.5 Flash Lite",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        120,
        1240
      ],
      "parameters": {
        "numberInputs": 10
      }
    },
    {
      "id": "chain-minimax-pipe-v1",
      "name": "Chain 1 - MiniMax M2.7 / Deterministik Temel",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -960
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v1\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v2",
      "name": "Chain 2 - MiniMax M2.7 / Kanit Esikli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -880
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v2\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v3",
      "name": "Chain 3 - MiniMax M2.7 / Saat Once Segmentasyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -800
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v3\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v4",
      "name": "Chain 4 - MiniMax M2.7 / Turkce Sadakat Plus",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -720
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v4\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v5",
      "name": "Chain 5 - MiniMax M2.7 / Hizmet Agirlikli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -640
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v6",
      "name": "Chain 6 - MiniMax M2.7 / Not Ayristirma Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -560
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v6\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v7",
      "name": "Chain 7 - MiniMax M2.7 / Cakisma Cozucu",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -480
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v7\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v8",
      "name": "Chain 8 - MiniMax M2.7 / Satir Satir Rekonstruksiyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -400
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v8\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v9",
      "name": "Chain 9 - MiniMax M2.7 / Kalite Kapisi",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -320
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v9\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-minimax-pipe-v10",
      "name": "Chain 10 - MiniMax M2.7 / Dusuk Halusinasyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        -240
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v10\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v1",
      "name": "Chain 11 - Grok 4.1 Fast / Deterministik Temel",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        40
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v1\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v2",
      "name": "Chain 12 - Grok 4.1 Fast / Kanit Esikli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        120
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v2\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v3",
      "name": "Chain 13 - Grok 4.1 Fast / Saat Once Segmentasyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        200
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v3\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v4",
      "name": "Chain 14 - Grok 4.1 Fast / Turkce Sadakat Plus",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        280
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v4\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v5",
      "name": "Chain 15 - Grok 4.1 Fast / Hizmet Agirlikli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        360
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v6",
      "name": "Chain 16 - Grok 4.1 Fast / Not Ayristirma Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        440
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v6\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v7",
      "name": "Chain 17 - Grok 4.1 Fast / Cakisma Cozucu",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        520
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v7\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v8",
      "name": "Chain 18 - Grok 4.1 Fast / Satir Satir Rekonstruksiyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        600
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v8\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v9",
      "name": "Chain 19 - Grok 4.1 Fast / Kalite Kapisi",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        680
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v9\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-grok-pipe-v10",
      "name": "Chain 20 - Grok 4.1 Fast / Dusuk Halusinasyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        760
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v10\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v1",
      "name": "Chain 21 - Gemini 2.5 Flash Lite / Deterministik Temel",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1040
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v1\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v2",
      "name": "Chain 22 - Gemini 2.5 Flash Lite / Kanit Esikli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1120
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v2\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v3",
      "name": "Chain 23 - Gemini 2.5 Flash Lite / Saat Once Segmentasyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1200
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v3\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v4",
      "name": "Chain 24 - Gemini 2.5 Flash Lite / Turkce Sadakat Plus",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1280
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v4\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v5",
      "name": "Chain 25 - Gemini 2.5 Flash Lite / Hizmet Agirlikli",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1360
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v5\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v6",
      "name": "Chain 26 - Gemini 2.5 Flash Lite / Not Ayristirma Sert",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1440
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v6\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v7",
      "name": "Chain 27 - Gemini 2.5 Flash Lite / Cakisma Cozucu",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1520
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v7\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v8",
      "name": "Chain 28 - Gemini 2.5 Flash Lite / Satir Satir Rekonstruksiyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1600
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v8\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v9",
      "name": "Chain 29 - Gemini 2.5 Flash Lite / Kalite Kapisi",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1680
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v9\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "chain-geminilite-pipe-v10",
      "name": "Chain 30 - Gemini 2.5 Flash Lite / Dusuk Halusinasyon",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -360,
        1760
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.promptLibrary[\"pipe-v10\"] }}"
            }
          ]
        },
        "batching": {}
      }
    },
    {
      "id": "merge-all-benchmarks",
      "name": "Merge All Benchmarks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        360,
        -40
      ],
      "parameters": {
        "numberInputs": 3
      }
    },
    {
      "id": "build-benchmark-payload",
      "name": "Build Benchmark Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -40
      ],
      "parameters": {
        "jsCode": "const promptLibrary = {\n  \"pipe-v1\": {\n    \"label\": \"Deterministik Temel\"\n  },\n  \"pipe-v2\": {\n    \"label\": \"Kanit Esikli\"\n  },\n  \"pipe-v3\": {\n    \"label\": \"Saat Once Segmentasyon\"\n  },\n  \"pipe-v4\": {\n    \"label\": \"Turkce Sadakat Plus\"\n  },\n  \"pipe-v5\": {\n    \"label\": \"Hizmet Agirlikli\"\n  },\n  \"pipe-v6\": {\n    \"label\": \"Not Ayristirma Sert\"\n  },\n  \"pipe-v7\": {\n    \"label\": \"Cakişma Cozucu\"\n  },\n  \"pipe-v8\": {\n    \"label\": \"Satir Satir Rekonstruksiyon\"\n  },\n  \"pipe-v9\": {\n    \"label\": \"Kalite Kapisi\"\n  },\n  \"pipe-v10\": {\n    \"label\": \"Dusuk Halusinasyon\"\n  }\n};\nconst modelMatrix = [\n  {\n    \"name\": \"MiniMax M2.7\",\n    \"model\": \"minimax/minimax-m2.7\",\n    \"startIndex\": 1\n  },\n  {\n    \"name\": \"Grok 4.1 Fast\",\n    \"model\": \"x-ai/grok-4.1-fast\",\n    \"startIndex\": 11\n  },\n  {\n    \"name\": \"Gemini 2.5 Flash Lite\",\n    \"model\": \"google/gemini-2.5-flash-lite\",\n    \"startIndex\": 21\n  }\n];\nconst promptVariants = [\n  {\n    \"promptVersion\": \"pipe-v1\",\n    \"legacyNodeSuffix\": \"Deterministik Temel\"\n  },\n  {\n    \"promptVersion\": \"pipe-v2\",\n    \"legacyNodeSuffix\": \"Kanit Esikli\"\n  },\n  {\n    \"promptVersion\": \"pipe-v3\",\n    \"legacyNodeSuffix\": \"Saat Once Segmentasyon\"\n  },\n  {\n    \"promptVersion\": \"pipe-v4\",\n    \"legacyNodeSuffix\": \"Turkce Sadakat Plus\"\n  },\n  {\n    \"promptVersion\": \"pipe-v5\",\n    \"legacyNodeSuffix\": \"Hizmet Agirlikli\"\n  },\n  {\n    \"promptVersion\": \"pipe-v6\",\n    \"legacyNodeSuffix\": \"Not Ayristirma Sert\"\n  },\n  {\n    \"promptVersion\": \"pipe-v7\",\n    \"legacyNodeSuffix\": \"Cakisma Cozucu\"\n  },\n  {\n    \"promptVersion\": \"pipe-v8\",\n    \"legacyNodeSuffix\": \"Satir Satir Rekonstruksiyon\"\n  },\n  {\n    \"promptVersion\": \"pipe-v9\",\n    \"legacyNodeSuffix\": \"Kalite Kapisi\"\n  },\n  {\n    \"promptVersion\": \"pipe-v10\",\n    \"legacyNodeSuffix\": \"Dusuk Halusinasyon\"\n  }\n];\nconst source = $(\"Extract OCR Text\").first().json;\nfunction trimText(v) { return typeof v === \"string\" ? v.trim() : \"\"; }\nfunction nullable(v) { const x = trimText(v); return !x || x.toLowerCase() === \"null\" ? null : x; }\nfunction normalizeTime(v) {\n  const x = trimText(v);\n  if (!x || x.toLowerCase() === \"null\") return null;\n  let m = x.match(/^(\\d{1,2})[:.](\\d{2})$/);\n  if (m) {\n    const hour = Number(m[1]);\n    const minute = Number(m[2]);\n    if (hour >= 0 && hour <= 23 && minute >= 0 && minute <= 59) return String(hour).padStart(2, \"0\") + \":\" + String(minute).padStart(2, \"0\");\n  }\n  m = x.match(/^(\\d{2})(\\d{2})$/);\n  if (m) {\n    const hour = Number(m[1]);\n    const minute = Number(m[2]);\n    if (hour >= 0 && hour <= 23 && minute >= 0 && minute <= 59) return String(hour).padStart(2, \"0\") + \":\" + String(minute).padStart(2, \"0\");\n  }\n  return null;\n}\nfunction normalizeDate(v) {\n  const x = trimText(v);\n  if (!x || x.toLowerCase() === \"null\") return null;\n  let m = x.match(/^(\\d{1,2})[./-](\\d{1,2})[./-](\\d{2,4})$/);\n  if (m) {\n    let year = Number(m[3]);\n    if (year < 100) year += 2000;\n    return String(Number(m[1])).padStart(2, \"0\") + \".\" + String(Number(m[2])).padStart(2, \"0\") + \".\" + String(year).padStart(4, \"0\");\n  }\n  if (/^(\\d{4})-(\\d{2})-(\\d{2})$/.test(x)) return x;\n  return null;\n}\nfunction normalizeNumber(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  const n = Number(String(v).replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\nfunction unwrapJson(raw) {\n  const text = trimText(raw);\n  if (!text) throw new Error(\"llm_empty_output\");\n  try { return JSON.parse(text); } catch (error) {}\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) return JSON.parse(fenced[1].trim());\n  const start = text.indexOf(\"{\");\n  const end = text.lastIndexOf(\"}\");\n  if (start !== -1 && end > start) return JSON.parse(text.slice(start, end + 1));\n  throw new Error(\"llm_invalid_json\");\n}\nfunction normalizeRows(payload) {\n  const rows = Array.isArray(payload) ? payload : (Array.isArray(payload?.rows) ? payload.rows : []);\n  return rows.map((row, index) => ({\n    rowIndex: Number(row?.rowIndex) > 0 ? Number(row.rowIndex) : index + 1,\n    customerName: nullable(row?.customerName || row?.name || row?.customer || row?.customerNameRaw),\n    customerPhoneRaw: nullable(row?.customerPhoneRaw || row?.phoneRaw || row?.phone),\n    appointmentDate: normalizeDate(row?.appointmentDate || row?.date || row?.appointment_date),\n    startTime: normalizeTime(row?.startTime || row?.time || row?.hour || row?.start),\n    endTime: normalizeTime(row?.endTime || row?.end || row?.finishTime),\n    durationMinutes: normalizeNumber(row?.durationMinutes),\n    serviceNameRaw: nullable(row?.serviceNameRaw || row?.servicesNormalized || row?.service || row?.serviceRaw || row?.services),\n    staffNameRaw: nullable(row?.staffNameRaw || row?.staff),\n    priceRaw: normalizeNumber(row?.priceRaw),\n    notesRaw: nullable(row?.notesRaw || row?.note || row?.notes),\n    confidence: (() => {\n      const value = Number(row?.confidence);\n      if (!Number.isFinite(value)) return 0.5;\n      return Math.max(0, Math.min(1, value));\n    })(),\n  })).filter((row) => row.appointmentDate || row.startTime || row.customerName || row.serviceNameRaw || row.notesRaw);\n}\nconst candidates = [];\nfor (const modelEntry of modelMatrix) {\n  for (let index = 0; index < promptVariants.length; index += 1) {\n    const variant = promptVariants[index];\n    const chainNumber = modelEntry.startIndex + index;\n    const nodeName = \"Chain \" + chainNumber + \" - \" + modelEntry.name + \" / \" + variant.legacyNodeSuffix;\n    let rawOutputText = \"\";\n    let parsedRows = [];\n    try {\n      const nodeJson = $item(0).$node[nodeName].json || {};\n      rawOutputText = trimText(nodeJson.text || \"\");\n      parsedRows = normalizeRows(unwrapJson(rawOutputText));\n    } catch (error) {\n      rawOutputText = trimText(rawOutputText) || (\"ERROR: \" + (error?.message || \"candidate_read_failed\"));\n      parsedRows = [];\n    }\n    candidates.push({\n      provider: \"openrouter\",\n      model: modelEntry.model,\n      promptVersion: variant.promptVersion,\n      promptLabel: promptLibrary[variant.promptVersion]?.label || variant.promptVersion,\n      rawOutputText,\n      parsedRows\n    });\n  }\n}\nconst successCount = candidates.filter((candidate) => Array.isArray(candidate.parsedRows) && candidate.parsedRows.length > 0).length;\nreturn [{ json: { batchId: source.batchId, sourceFileId: source.sourceFileId, mode: \"BENCHMARK\", candidates, audit: { ocrProvider: \"google-vision\", ocrModel: \"DOCUMENT_TEXT_DETECTION\", ocrRawText: source.text || \"\", activeConfigSnapshot: source.aiConfig || {}, benchmarkReferenceText: source.benchmarkReferenceText || \"\", metrics: { benchmarkReferenceText: source.benchmarkReferenceText || \"\", candidateCount: candidates.length, modelCount: modelMatrix.length, promptCount: promptVariants.length, successCount, failureCount: candidates.length - successCount } } } }];"
      }
    },
    {
      "id": "callback-success",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://app.berkai.shop/api/internal/imports/' + $json.batchId + '/ocr-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "4c4ec9dd02994c9fa27b2b316631f22fd1f04455a54351b8575a60d6a99756fd"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { mode: $json.mode || \"BENCHMARK\", sourceFileId: $json.sourceFileId, benchmarkReferenceText: $json.audit?.benchmarkReferenceText || $json.benchmarkReferenceText || \"\", candidates: $json.candidates || [], audit: $json.audit || null } }}",
        "options": {}
      }
    },
    {
      "id": "callback-error",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://app.berkai.shop/api/internal/imports/' + $json.batchId + '/ocr-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "4c4ec9dd02994c9fa27b2b316631f22fd1f04455a54351b8575a60d6a99756fd"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { mode: $json.mode || \"BENCHMARK\", sourceFileId: $json.sourceFileId, benchmarkReferenceText: $json.benchmarkReferenceText || $json.audit?.benchmarkReferenceText || \"\", error: $json.error, audit: { ocrProvider: \"google-vision\", ocrModel: \"DOCUMENT_TEXT_DETECTION\", ocrRawText: $json.text || \"\", activeConfigSnapshot: $json.aiConfig || {}, benchmarkReferenceText: $json.benchmarkReferenceText || \"\", metrics: { benchmarkReferenceText: $json.benchmarkReferenceText || \"\", candidateCount: 0, modelCount: 0, promptCount: 0, successCount: 0, failureCount: 0 } } } }}",
        "options": {}
      }
    },
    {
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        -120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"received\": true } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Model - MiniMax M2.7": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 1 - MiniMax M2.7 / Deterministik Temel",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 2 - MiniMax M2.7 / Kanit Esikli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 3 - MiniMax M2.7 / Saat Once Segmentasyon",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 4 - MiniMax M2.7 / Turkce Sadakat Plus",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 5 - MiniMax M2.7 / Hizmet Agirlikli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 6 - MiniMax M2.7 / Not Ayristirma Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 7 - MiniMax M2.7 / Cakisma Cozucu",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 8 - MiniMax M2.7 / Satir Satir Rekonstruksiyon",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 9 - MiniMax M2.7 / Kalite Kapisi",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 10 - MiniMax M2.7 / Dusuk Halusinasyon",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Grok 4.1 Fast": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 11 - Grok 4.1 Fast / Deterministik Temel",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 12 - Grok 4.1 Fast / Kanit Esikli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 13 - Grok 4.1 Fast / Saat Once Segmentasyon",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 14 - Grok 4.1 Fast / Turkce Sadakat Plus",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 15 - Grok 4.1 Fast / Hizmet Agirlikli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 16 - Grok 4.1 Fast / Not Ayristirma Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 17 - Grok 4.1 Fast / Cakisma Cozucu",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 18 - Grok 4.1 Fast / Satir Satir Rekonstruksiyon",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 19 - Grok 4.1 Fast / Kalite Kapisi",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 20 - Grok 4.1 Fast / Dusuk Halusinasyon",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model - Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 21 - Gemini 2.5 Flash Lite / Deterministik Temel",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 22 - Gemini 2.5 Flash Lite / Kanit Esikli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 23 - Gemini 2.5 Flash Lite / Saat Once Segmentasyon",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 24 - Gemini 2.5 Flash Lite / Turkce Sadakat Plus",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 25 - Gemini 2.5 Flash Lite / Hizmet Agirlikli",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 26 - Gemini 2.5 Flash Lite / Not Ayristirma Sert",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 27 - Gemini 2.5 Flash Lite / Cakisma Cozucu",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 28 - Gemini 2.5 Flash Lite / Satir Satir Rekonstruksiyon",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 29 - Gemini 2.5 Flash Lite / Kalite Kapisi",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chain 30 - Gemini 2.5 Flash Lite / Dusuk Halusinasyon",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision OCR": {
      "main": [
        [
          {
            "node": "Extract OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR Text": {
      "main": [
        [
          {
            "node": "Has OCR Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has OCR Error?": {
      "main": [
        [
          {
            "node": "Callback Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Benchmark Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benchmark Source": {
      "main": [
        [
          {
            "node": "Chain 1 - MiniMax M2.7 / Deterministik Temel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 2 - MiniMax M2.7 / Kanit Esikli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 3 - MiniMax M2.7 / Saat Once Segmentasyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 4 - MiniMax M2.7 / Turkce Sadakat Plus",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 5 - MiniMax M2.7 / Hizmet Agirlikli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 6 - MiniMax M2.7 / Not Ayristirma Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 7 - MiniMax M2.7 / Cakisma Cozucu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 8 - MiniMax M2.7 / Satir Satir Rekonstruksiyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 9 - MiniMax M2.7 / Kalite Kapisi",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 10 - MiniMax M2.7 / Dusuk Halusinasyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 11 - Grok 4.1 Fast / Deterministik Temel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 12 - Grok 4.1 Fast / Kanit Esikli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 13 - Grok 4.1 Fast / Saat Once Segmentasyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 14 - Grok 4.1 Fast / Turkce Sadakat Plus",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 15 - Grok 4.1 Fast / Hizmet Agirlikli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 16 - Grok 4.1 Fast / Not Ayristirma Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 17 - Grok 4.1 Fast / Cakisma Cozucu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 18 - Grok 4.1 Fast / Satir Satir Rekonstruksiyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 19 - Grok 4.1 Fast / Kalite Kapisi",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 20 - Grok 4.1 Fast / Dusuk Halusinasyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 21 - Gemini 2.5 Flash Lite / Deterministik Temel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 22 - Gemini 2.5 Flash Lite / Kanit Esikli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 23 - Gemini 2.5 Flash Lite / Saat Once Segmentasyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 24 - Gemini 2.5 Flash Lite / Turkce Sadakat Plus",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 25 - Gemini 2.5 Flash Lite / Hizmet Agirlikli",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 26 - Gemini 2.5 Flash Lite / Not Ayristirma Sert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 27 - Gemini 2.5 Flash Lite / Cakisma Cozucu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 28 - Gemini 2.5 Flash Lite / Satir Satir Rekonstruksiyon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 29 - Gemini 2.5 Flash Lite / Kalite Kapisi",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chain 30 - Gemini 2.5 Flash Lite / Dusuk Halusinasyon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 1 - MiniMax M2.7 / Deterministik Temel": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 2 - MiniMax M2.7 / Kanit Esikli": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 3 - MiniMax M2.7 / Saat Once Segmentasyon": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 4 - MiniMax M2.7 / Turkce Sadakat Plus": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Chain 5 - MiniMax M2.7 / Hizmet Agirlikli": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Chain 6 - MiniMax M2.7 / Not Ayristirma Sert": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Chain 7 - MiniMax M2.7 / Cakisma Cozucu": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Chain 8 - MiniMax M2.7 / Satir Satir Rekonstruksiyon": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Chain 9 - MiniMax M2.7 / Kalite Kapisi": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Chain 10 - MiniMax M2.7 / Dusuk Halusinasyon": {
      "main": [
        [
          {
            "node": "Merge - MiniMax M2.7",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge - MiniMax M2.7": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 11 - Grok 4.1 Fast / Deterministik Temel": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 12 - Grok 4.1 Fast / Kanit Esikli": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 13 - Grok 4.1 Fast / Saat Once Segmentasyon": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 14 - Grok 4.1 Fast / Turkce Sadakat Plus": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Chain 15 - Grok 4.1 Fast / Hizmet Agirlikli": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Chain 16 - Grok 4.1 Fast / Not Ayristirma Sert": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Chain 17 - Grok 4.1 Fast / Cakisma Cozucu": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Chain 18 - Grok 4.1 Fast / Satir Satir Rekonstruksiyon": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Chain 19 - Grok 4.1 Fast / Kalite Kapisi": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Chain 20 - Grok 4.1 Fast / Dusuk Halusinasyon": {
      "main": [
        [
          {
            "node": "Merge - Grok 4.1 Fast",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge - Grok 4.1 Fast": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 21 - Gemini 2.5 Flash Lite / Deterministik Temel": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 22 - Gemini 2.5 Flash Lite / Kanit Esikli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chain 23 - Gemini 2.5 Flash Lite / Saat Once Segmentasyon": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chain 24 - Gemini 2.5 Flash Lite / Turkce Sadakat Plus": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Chain 25 - Gemini 2.5 Flash Lite / Hizmet Agirlikli": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Chain 26 - Gemini 2.5 Flash Lite / Not Ayristirma Sert": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Chain 27 - Gemini 2.5 Flash Lite / Cakisma Cozucu": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Chain 28 - Gemini 2.5 Flash Lite / Satir Satir Rekonstruksiyon": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Chain 29 - Gemini 2.5 Flash Lite / Kalite Kapisi": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Chain 30 - Gemini 2.5 Flash Lite / Dusuk Halusinasyon": {
      "main": [
        [
          {
            "node": "Merge - Gemini 2.5 Flash Lite",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge - Gemini 2.5 Flash Lite": {
      "main": [
        [
          {
            "node": "Merge All Benchmarks",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Benchmarks": {
      "main": [
        [
          {
            "node": "Build Benchmark Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Benchmark Payload": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Error": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afd9177fa22bd401d1ec287c9dde7939ce50fb767c8e226f6de704d0a8fffb41"
  }
}
